/* базовый шрифт */
body {
	font-family: 'Gabriela';
	background-color: #EBF0E4;
}

@import "//fonts.fontstorage.com/import/gabriela.css";

@font-face {
    font-family: 'Gabriela';
    src:
	local('Gabriela'),
	local('Gabriela-Regular'),
	url('../fonts/gabriela.woff2') format('woff2'),
	url('../fonts/gabriela.woff') format('woff'),
	url('../fonts/gabriela.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* обрамление фотокарточек */
.around-photocard {
  	border-radius: 20px;
  	box-shadow: 0 0 15px #666666;
}

/* панель навигации */
.navbar {
	display: flex;
	justify-content: space-between;
}

/*цвет ссылок в панели навигации*/
.navbar a {
	color: black;
	text-decoration: none;
}

/*оформление кнопок в панели навигации*/
.navbar input {
  	background-color: #EBF0E4;
	border-radius: 10px;
	border: none;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Gabriela';
  	font-size: 100%;
  	vertical-align: center;
  	text-align: center;
	width: 10.75%;
  	border-bottom: 1px solid #cccccc;
  	padding-top: 10px;
	padding-bottom: 10px;
}

/*подсветка кнопок в панели навигации*/
.navbar input:hover {
	background-color: rgba(203, 217, 212, 0.6);
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 1px white;
	font-size: 110%;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}

.gallery-on-main-positioner {
	width: 70%;
	margin: 0 auto;
}

/*составляющие галерея на главной странице*/
.gallery-on-main-items {
	display: table;
	padding: 3em 0 3em;
	width: 22%;
	float: left;
	margin-right: 4%;
}

.gallery-on-main-items:last-child {
	margin-right: 0px;
}

/*псевдораспорка для галереи*/
.gallery-on-main::after {
	content: "";
	display: table;
	clear: both;
}

.gallery-on-main-positioner {
	content: "";
	display: table;
	clear: both;
}

/*подвал сайта*/
.site-footer {
	text-align: center;
}